@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


$weights: 100, 200, 300, 400, 500, 600, 700, 800;

@each $weight in $weights {
  .jetbrains-mono-#{$weight} {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: #{$weight};
    font-style: normal;
  }
}